<h1> Créer un nouvel utilisateur </h1>

<%= form_tag (users_path) do %>
 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
        <% @user.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
  <p> <%= label_tag 'name', "Quel est votre nom ?"  %> </p>
  <p> <%= text_field_tag(:name) %> </p>

  <p> <%= label_tag 'email', "Quel est votre email ?" %> </p>
  <p> <%= text_field_tag(:email) %> </p>

  <p> <%= label_tag 'password', "Quel est votre mot de passe ?" %> </p>
  <p> <%= password_field_tag(:password) %> </p>

  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<p> <%= submit_tag 'Je crée un utilisateur', class: "btn btn-primary"%></p>

  </div>
</div>


<% end %>