<h1>Tous nos super events</h1>
 
<h2> Evénements à venir </h2>

<table class="table table-striped">
  <tr>
    <th>Nom de l'événement</th>
    <th>Date de l'événement</th>
    <th>Lieu de l'événement</th>
    <th>Créé par</th>
    <th>Nombre de participants</th>
    <th></th>

  </tr>
 
  <% @events.each do |event|%> 
  <% if event.date > Date.today %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.date.strftime("%d-%m-%Y") %></td>
      <td><%= event.place %></td>
      <td><%= event.creator.name %></td>
      <td><%= event.attendees.count %></td>
      <td><%= link_to "Voir l'événement", event_path(event) %></td>

    </tr>
  <% end %>
<% end %>

</table>

<h2> Evénements passés </h2>

<table class="table table-striped">
  <tr>
    <th>Nom de l'événement</th>
    <th>Date de l'événement</th>
    <th>Lieu de l'événement</th>
    <th>Créé par</th>
    <th>Nombre de participants</th>
    <th></th>

  </tr>
 
  <% @events.each do |event|%> 
  <% if event.date < Date.today %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.date.strftime("%d-%m-%Y") %></td>
      <td><%= event.place %></td>
      <td><%= event.creator.name %></td>
      <td><%= event.attendees.count %></td>

      <td><%= link_to "Voir l'événement", event_path(event) %></td>

    </tr>
  <% end %>
<% end %>

</table>


<% unless logged_in? %>
<p> <%= link_to "Créer mon événement", new_event_path, class: "btn btn-success" %></p>
<% end%>