<% if logged_in? %>

<h1> Créer un nouvel event !</h1>
<p class="text-center"> <%= @current_user.name %>, merci de renseigner ces informations afin de créer votre événement ! </p>

<%= form_tag (events_path) do %>
 
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
        <% @event.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
  <p> <%= label_tag 'name', "Quel est le nom de votre event ?"  %> </p>
  <p> <%= text_field_tag(:name) %> </p>

  <p> <%= label_tag 'description', "En deux mots, pouvez-vous décrire votre event ?" %> </p>
  <p> <%= text_field_tag(:description) %> </p>

  <p> <%= label_tag 'place', "Où se déroule votre event ?" %> </p>
  <p> <%= text_field_tag(:place) %> </p>

  <p> <%= label_tag 'place', "Quand se déroule votre event ?" %> </p>
  <p> <%= date_field_tag(:date) %> </p>

  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<p> <%= submit_tag 'Je crée mon event', class: "btn btn-primary"%></p>

  </div>
</div>

<% end %>

<% else %>

<h1> Oups ! </h1>
<p class="text-center"> Vous n'êtes pas connecté !</p>
<p class="text-center"> Veuillez vous connecter pour créer votre événement :) </p>
<p class="text-center"> <%= link_to "Log in", login_path, class: "btn btn-primary"%></p>

<% end %>
